{% extends 'base.html' %}

{% block content %}

<ul class="breadcrumb">
	<li>用户管理</li>
	<li class="divider"></li>
	<li>修改用户</li>
</ul>
{% include 'message.html' %}
<div class="separator bottom"></div>


<div class="innerLR">     
    <form method="POST" id="userForm" class="form-horizontal" action="">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-8">
                <input id="username" name="username" type="text" class="form-control" value="{{ username }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">登录密码</label>
            <div class="col-sm-8">
                <input id="password" name="password" type="password" class="form-control" {% if password %}value="{{ password }}"{% endif %}>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-8">
                <input id="name" name="name" type="text" class="form-control" {% if name %}value="{{ name }}"{% endif %}>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
                <input id="email" name="email" type="email" class="form-control" {% if email %}value="{{ email }}"{% endif %}>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <a class="btn btn-white" href="{% url 'list_user' %}" type="button">返回</a>
                <button id="submit_button" class="btn btn-primary" type="submit">保存</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block self_foot_script %}
<script>

</script>
{% endblock %}