<!-- Footer -->
<div id="footer">
    <!--  Copyright Line -->
    <div class="copy">
        <div class="span5 left">
            Copyright &copy; 2017 - 2018 <a>Duome</a>, All Rights Reserved
        </div>

        <div class="right">
            <a href="{% url 'reward' %}">打赏我们</a>&ensp;
            <a href="https://duome.coding.me" target="_blank">作者博客</a>&ensp;
            <a href="{% url 'contact' %}">联系作者</a>&ensp;
            <a href="https://github.com/Duome" target="_blank">关注Github</a>&ensp;
            <a href="{% url 'about' %}">关于ProjectD</a>&ensp;
            <a>版本V1.0</a>&ensp;&ensp;&ensp;
        </div>
    </div>
    <!--  End Copyright Line -->
</div>

<!-- // Footer END -->