<!-- LESS.js Library -->
<script src="/static/theme/scripts/plugins/system/less.min.js"></script>

<!-- JQuery -->
<script src="/static/theme/scripts/plugins/system/jquery.min.js"></script>

<!-- JQueryUI -->
<script src="/static/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>

<!-- JQueryUI Touch Punch -->
<!-- small hack that enables the use of touch events on sites using the jQuery UI user interface library -->
<script src="/static/theme/scripts/plugins/system/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

<!-- Modernizr -->
<script src="/static/theme/scripts/plugins/system/modernizr.js"></script>

<!-- Bootstrap -->
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<!-- SlimScroll Plugin -->
<script src="/static/theme/scripts/plugins/other/jquery-slimScroll/jquery.slimscroll.min.js"></script>

<!-- Common Demo Script -->
<script src="/static/theme/scripts/demo/common.js?1369414383"></script>

<!-- Holder Plugin -->
<script src="/static/theme/scripts/plugins/other/holder/holder.js"></script>

<!-- Uniform Forms Plugin -->
<script src="/static/theme/scripts/plugins/forms/pixelmatrix-uniform/jquery.uniform.min.js"></script>

<!-- PrettyPhoto -->
<script src="/static/theme/scripts/plugins/gallery/prettyphoto/js/jquery.prettyPhoto.js"></script>

<!-- Global -->
<script>
var basePath = '/static/';
</script>

<!-- Bootstrap Extended -->
<script src="/static/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>
<script src="/static/bootstrap/extend/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script>
<script src="/static/bootstrap/extend/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"></script>
<script src="/static/bootstrap/extend/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
<script src="/static/bootstrap/extend/jasny-bootstrap/js/bootstrap-fileupload.js"></script>
<script src="/static/bootstrap/extend/bootbox.js"></script>
<script src="/static/bootstrap/extend/bootstrap-wysihtml5/js/wysihtml5-0.3.0_rc2.min.js"></script>
<script src="/static/bootstrap/extend/bootstrap-wysihtml5/js/bootstrap-wysihtml5-0.0.2.js"></script>

<!-- Google Code Prettify -->
<script src="/static/theme/scripts/plugins/other/google-code-prettify/prettify.js"></script>

<!-- Gritter Notifications Plugin -->
<script src="/static/theme/scripts/plugins/notifications/Gritter/js/jquery.gritter.min.js"></script>

<!-- Notyfy Notifications Plugin -->
<script src="/static/theme/scripts/plugins/notifications/notyfy/jquery.notyfy.js"></script>

<!-- MiniColors Plugin -->
<script src="/static/theme/scripts/plugins/color/jquery-miniColors/jquery.miniColors.js"></script>

<!-- DateTimePicker Plugin -->
<script src="/static/theme/scripts/plugins/forms/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

<!-- Cookie Plugin -->
<script src="/static/theme/scripts/plugins/system/jquery.cookie.js"></script>

<!-- Colors -->
<script>
var primaryColor = '#e25f39',
    dangerColor = '#bd362f',
    successColor = '#609450',
    warningColor = '#ab7a4b',
    inverseColor = '#45484d';
</script>

<!-- Themer -->
<script>
var themerPrimaryColor = primaryColor;
</script>
<script src="/static/theme/scripts/demo/themer.js"></script>

<!-- Easy-pie Plugin -->
<script src="/static/theme/scripts/plugins/charts/easy-pie/jquery.easy-pie-chart.js"></script>

<!-- Sparkline Charts Plugin -->
<script src="/static/theme/scripts/plugins/charts/sparkline/jquery.sparkline.min.js"></script>

<!-- Ba-Resize Plugin -->
<script src="/static/theme/scripts/plugins/other/jquery.ba-resize.js"></script>

<!-- Dashboard Demo Script -->
{#    <script src="/static/theme/scripts/demo/index.js?1369414383"></script>#}

<!--  Flot Charts Plugin -->
<script src="/static/theme/scripts/plugins/charts/flot/jquery.flot.js"></script>
<script src="/static/theme/scripts/plugins/charts/flot/jquery.flot.pie.js"></script>
<script src="/static/theme/scripts/plugins/charts/flot/jquery.flot.tooltip.js"></script>
<script src="/static/theme/scripts/plugins/charts/flot/jquery.flot.selection.js"></script>
<script src="/static/theme/scripts/plugins/charts/flot/jquery.flot.resize.js"></script>
<script src="/static/theme/scripts/plugins/charts/flot/jquery.flot.orderBars.js"></script>

<!-- Charts Helper Demo Script -->
<script src="/static/theme/scripts/demo/charts.helper.js?1369414383"></script>

<!-- Optional Resizable Sidebars -->
<!--[if gt IE 8]><!--><script src="/static/theme/scripts/demo/resizable.js?1369414383"></script><!--<![endif]-->

<!-- nice-validator Script -->
<script src="/static/theme/scripts/plugins/forms/nice-validator/dist/jquery.validator.min.js"></script>
<script src="/static/theme/scripts/plugins/forms/nice-validator/dist/local/zh-CN.js"></script>

<!--wangEditor -->
<script src="/static/theme/scripts/plugins/enditor/wangEditor-3.0.10/release/wangEditor.js"></script>
<!-- DataTables Script -->
<script src="/static/theme/scripts/plugins/tables/DataTables-1.10.15/media/js/jquery.dataTables.min.js"></script>