<!-- Bootstrap -->
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="/static/bootstrap/css/responsive.css" rel="stylesheet" />

<!-- Glyphicons Font Icons -->
<link href="/static/theme/css/glyphicons.css" rel="stylesheet" />

<!-- Uniform Pretty Checkboxes -->
<link href="/static/theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css" rel="stylesheet" />

<!-- PrettyPhoto -->
<link href="/static/theme/scripts/plugins/gallery/prettyphoto/css/prettyPhoto.css" rel="stylesheet" />

<!--[if IE]><!--><script src="/static/theme/scripts/plugins/other/excanvas/excanvas.js"></script><!--<![endif]-->
<!--[if lt IE 8]><script src="/static/theme/scripts/plugins/other/json2.js"></script><![endif]-->

<!-- Bootstrap Extended -->
<link href="/static/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
<link href="/static/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css" rel="stylesheet">
<link href="/static/bootstrap/extend/bootstrap-wysihtml5/css/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet">
<link href="/static/bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
<link href="/static/bootstrap/extend/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" rel="stylesheet" />

<!-- Select2 Plugin -->
<link href="/static/theme/scripts/plugins/forms/select2/select2.css" rel="stylesheet" />

<!-- DateTimePicker Plugin -->
<link href="/static/theme/scripts/plugins/forms/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />

<!-- JQueryUI -->
<link href="/static/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />

<!-- MiniColors ColorPicker Plugin -->
<link href="/static/theme/scripts/plugins/color/jquery-miniColors/jquery.miniColors.css" rel="stylesheet" />

<!-- Notyfy Notifications Plugin -->
<link href="/static/theme/scripts/plugins/notifications/notyfy/jquery.notyfy.css" rel="stylesheet" />
<link href="/static/theme/scripts/plugins/notifications/notyfy/themes/default.css" rel="stylesheet" />

<!-- Gritter Notifications Plugin -->
<link href="/static/theme/scripts/plugins/notifications/Gritter/css/jquery.gritter.css" rel="stylesheet" />

<!-- Easy-pie Plugin -->
<link href="/static/theme/scripts/plugins/charts/easy-pie/jquery.easy-pie-chart.css" rel="stylesheet" />

<!-- Google Code Prettify Plugin -->
<link href="/static/theme/scripts/plugins/other/google-code-prettify/prettify.css" rel="stylesheet" />

<!-- Bootstrap Image Gallery -->
<link href="/static/bootstrap/extend/bootstrap-image-gallery/css/bootstrap-image-gallery.min.css" rel="stylesheet" />

<!-- Main Theme Stylesheet :: CSS -->
<link href="/static/theme/css/style-dark.css?1369414383" rel="stylesheet" />

<!-- nice-validator :: CSS -->
<link href="/static/theme/scripts/plugins/forms/nice-validator/dist/jquery.validator.css" rel="stylesheet" />

<!-- nice-validator -->
<link href="/static/theme/scripts/plugins/enditor/wangEditor-3.0.10/release/wangEditor.css" rel="stylesheet" />
<link href="/static/theme/scripts/plugins/tables/DataTables-1.10.15/media/css/jquery.dataTables.min.css" rel="stylesheet" />